<h1 class="text-center">About Me</h1>
<div class="text-center">
	<%= image_tag "http://www.northleach.gov.uk/wp-content/uploads/2013/12/blank-avatar-220x220.png" , class: "image" %></br></br>
	<p><%= "This is the About Me section" %></p>
</div>